/*Tablet*/
@media (min-width: 44.438rem) {
  .cabecalho {
    .titulo {
      padding: 0 8rem;

      button {
        width: 13.375rem;
        height: 3.063rem;
      }
    }
  }

  aside {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);

    .linguagem {
      grid-column: 1;
    }

    article {
      margin-top: 1rem;
    }
  }
}

/*Desktop*/

@media (min-width: 77.688rem) {
  .cabecalho {
    padding: 3.125rem;

    flex-direction: row;
    justify-content: space-evenly;

    .titulo {
      width: 36.313rem;
      padding: 0;

      text-align: start;
    }
  }

  aside {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);

    h2 {
      margin-bottom: 4.563rem;
    }
  }
}
