@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/*Paleta de cores*/
/*Fontes*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
button {
  font-family: "Roboto", sans-serif;
}

.cabecalho {
  padding: 4rem 1.5rem;
  background-color: #f8f8ff;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
}
.cabecalho .titulo h1 {
  font-size: clamp(1.5rem, 4.167vw, 2.5rem);
  font-weight: 600;
  line-height: 120%;
}
.cabecalho .titulo h1 span {
  color: #846aff;
}
.cabecalho .titulo p {
  margin: 1.5rem 0;
  line-height: 150%;
  font-size: clamp(1rem, 2.61vw, 1.5rem);
}
.cabecalho .titulo button {
  width: 100%;
  height: 2.75rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #846aff;
  text-transform: uppercase;
  font-size: clamp(0.875rem, 3vw, 1.125rem);
  font-weight: 700;
  color: #ffffff;
}
.cabecalho .logo {
  width: clamp(12.938rem, 1.43rem + 40vw, 25rem);
  height: auto;
}

main {
  padding: clamp(4rem, 11vw, 5rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

aside {
  display: grid;
  grid-template-rows: repeat(7, auto);
  gap: 2rem;
}
aside h2 {
  margin-bottom: 0.5rem;
  font-size: clamp(1.5rem, 3.7vw, 2rem);
  font-weight: 600;
}
aside article {
  width: clamp(20.438rem, 44.4vw, 24rem);
  border: 2px solid #eeeeff;
  border-radius: 0.36rem;
}
aside article img {
  width: 100%;
  height: 10.938rem;
  border-radius: 0.25rem 0.25rem 0 0;
}
aside article div {
  padding: 1.5rem 1.125rem;
}
aside article h3 {
  margin-bottom: 0.75rem;
  font-size: clamp(1.125rem, 2vw, 1.25rem);
  font-weight: 600;
  line-height: 130%;
}
aside article p {
  font-size: clamp(0.875rem, 1vw, 1.125rem);
  line-height: 150%;
}
aside article h3, aside article p {
  width: clamp(18.188rem, 39.33vw, 21.1rem);
  display: -webkit-box; /*cria uma caixa com limite de linhas*/
  -webkit-line-clamp: 2; /*quantas linhas quero que mostre na caixa*/
  line-clamp: 2;
  -webkit-box-orient: vertical; /*faz a caixa crescer verticalmente*/
  overflow: hidden; /*esconde o que passar do limite de linhas*/
  text-overflow: ellipsis; /*coloca ... se o texto passar do limite*/
}

/*14 18*/
/*Tablet*/
@media (min-width: 44.438rem) {
  .cabecalho .titulo {
    padding: 0 8rem;
  }
  .cabecalho .titulo button {
    width: 13.375rem;
    height: 3.063rem;
  }
  aside {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
  }
  aside .linguagem {
    grid-column: 1;
  }
  aside article {
    margin-top: 1rem;
  }
}
/*Desktop*/
@media (min-width: 77.688rem) {
  .cabecalho {
    padding: 3.125rem;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .cabecalho .titulo {
    width: 36.313rem;
    padding: 0;
    text-align: start;
  }
  aside {
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
  }
  aside h2 {
    margin-bottom: 4.563rem;
  }
}/*# sourceMappingURL=main.css.map */